---
# Green GitLab Pipeline Entrypoint
#

stages:
  - identify_tag_version
  - build
  - unit
  - test
  - push
  - trigger
  - publish
  - release

variables: 
  BUILD_CERT: /certs/tls-ca-bundle.pem
  BASE_GIT_URL: https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.gs.mil/maven-daas/inference-engine
  PIP_INDEX_URL: https://mirrors.gs.mil/repository/pypi.org-proxy/simple
  NEXUS3_USER: ${maven_daas_nexus_3_credential_username}
  NEXUS3_PASSWORD: ${maven_daas_nexus_3_credential_password}
  MICROSERVICE: ie-model-runner
  MICROSERVICE_IMAGE: ${CI_REGISTRY_IMAGE}/${MICROSERVICE}:${CI_COMMIT_REF_SLUG}
  GDAL_BASE_IMG: ${CI_REGISTRY}/maven-daas/inference-engine/gdal-base:latest

include:
  # always
  - local: .gitlab/green/always/*.gitlab-ci.yml

  # hidden
  - local: .gitlab/orange/.hidden.gitlab-ci.yml

  # common
  - local: .gitlab/common/templates.gitlab-ci.yml

  # branch: main
  - local: .gitlab/green/main/*.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "main"
  - local: .gitlab/orange/main/*.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "main"

identify_tag_version:
  extends: .identify_tag_version_template

release:
  extends: .release_template