---
# Orange GitLab Pipeline Entrypoint
#

stages:
  - identify_tag_version
  - build
  - unit
  - test
  - pre_deployment
  - security
  - docs
  - push
  - trigger
  - publish
  - release

variables:
  NEXUS_URL: ${NEXUS_URL}  # GitLab group CI variable
  NEXUS3_USER: ${maven_daas_nexus_3_credential_username}
  NEXUS3_PASSWORD: ${maven_daas_nexus_3_credential_password}
  GDAL_BASE_IMG: ${CI_REGISTRY}/${PROJECT_ROOT}/common/gdal-base:v3-8-5-1-python3-13
  MICROSERVICE: "ie-model-runner"
  MICROSERVICE_IMAGE: ${CI_REGISTRY_IMAGE}/${MICROSERVICE}:${CI_COMMIT_REF_SLUG}
  DOCKERFILE: docker/Dockerfile

# Choose pipeline depending on scenario
include:
  # Common templates from project (uses default branch: main)
  - project: '${PROJECT_ROOT}/common/cicd-templates'
    file: 'templates.gitlab-ci.yml'

  # Customer-specific templates (uses default branch: main)
  - project: '${PROJECT_ROOT}/common/cicd-templates'
    file: 'templates-customer.gitlab-ci.yml'

  # Environment-specific templates (uses default branch: main)
  - project: '${PROJECT_ROOT}/common/cicd-templates'
    file: 'templates-environment.gitlab-ci.yml'

  # Green environment pipeline (build/tag/push jobs)
  - local: .gitlab/green/.gitlab-ci.yml
    rules:
      - if: ($GITLAB_CI_ENV == "green")

  # Orange-specific includes based on branches
  # branch: uc-main (pre_deployment)
  - local: .gitlab/orange/uc-main/*.gitlab-ci.yml
    rules:
      - if: ($CI_COMMIT_BRANCH == "uc-main")

  # branch: main
  - local: .gitlab/orange/main/*.gitlab-ci.yml
    rules:
      - if: ($CI_COMMIT_BRANCH == "main")


# Version identification
identify_tag_version:
  extends: .identify_tag_version_template

release:
  extends: .release_template
