---
# Orange GitLab Pipeline Entrypoint
#

stages:
  - identify_tag_version
  - pre_deployment
  - build
  - unit
  - test
  - push
  - trigger
  - publish
  - release

variables: 
  MICROSERVICE: ie-model-runner
  MICROSERVICE_IMAGE: ${CI_REGISTRY_IMAGE}/${MICROSERVICE}:${CI_COMMIT_REF_SLUG}

# Choose pipeline depending on scenario
include:
  # hidden
  - local: .gitlab/orange/.hidden.gitlab-ci.yml
  - local: .gitlab/aws/.hidden.gitlab-ci.yml

  # common
  - local: .gitlab/common/templates.gitlab-ci.yml

  # green
  - local: .gitlab/green/.gitlab-ci.yml
    rules:
      - if: ($GITLAB_CI_ENV == "green")

  # branch: uc-main (pre_deployment)
  - local: .gitlab/orange/uc-main/*.gitlab-ci.yml
    rules:
      - if: ($CI_COMMIT_BRANCH == "uc-main")

  # branch: main
  - local: .gitlab/orange/main/*.gitlab-ci.yml
    rules:
      - if: ($CI_COMMIT_BRANCH == "main")

identify_tag_version:
  extends: .identify_tag_version_template

release:
  extends: .release_template