repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        args: ["--line-length=125"]
        types: [file, python]

  - repo: https://github.com/PyCQA/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--line-length=125", "--profile=black"]
        types: [file, python]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--ignore=E203,W503,W605", "--max-line-length=125"]
        types: [file, python]

  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        types: [file, python]

  - repo: https://github.com/aws-samples/automated-security-helper
    rev: 'v3.0.0'
    hooks:
        - id: ash
          stages: [ manual ]
          # uncomment the line below if using "finch" on MacOS
          # args: [ "-f" ]

  - repo: https://github.com/sbrunner/pre-commit-copyright
    rev: 1.6.1
    hooks:
      - id: copyright
        name: update copyright
        exclude: |
          (?x)^(
            doc/.*|
            ^\..+|
            .+\.md|
            test/data/.*|
            LICENSE|
            tox.ini|
            pyproject.toml|
            setup.cfg|
            setup.py|
            py.typed|
            .*\.json|
            .*\.geojson|
            .*\.yml|
            .*\.yaml|
            .*\.example|
            .*\.gitignore|
            .*\.js|
            .*\.mjs|
            .*\.d\.ts|
            .*\.sh|
            .*\.txt|
            .*\.lock|
            .*\.prettierignore|
            .*\.npmignore|
            .*\.prettierrc
          )$
      - id: copyright-required
        name: require copyright
        exclude: |
          (?x)^(
            doc/.*|
            ^\..+|
            .+\.md|
            test/data/.*|
            LICENSE|
            tox.ini|
            pyproject.toml|
            setup.cfg|
            setup.py|
            py.typed|
            .*\.json|
            .*\.geojson|
            .*\.yml|
            .*\.yaml|
            .*\.example|
            .*\.gitignore|
            .*\.js|
            .*\.mjs|
            .*\.d\.ts|
            .*\.sh|
            .*\.txt|
            .*\.lock|
            .*\.prettierignore|
            .*\.npmignore|
            .*\.prettierrc
          )$

  - repo: local
    hooks:
      - id: npm-install
        name: Install npm dependencies
        entry: bash -c 'cd cdk && npm ci'
        language: system
        files: ^cdk/.*\.(ts|tsx|js|jsx|json)$
        exclude: ^cdk/cdk\.out
        pass_filenames: false

      - id: jest
        name: Jest Tests
        entry: bash -c 'cd cdk && npm run test'
        language: system
        files: ^cdk/.*\.(ts|tsx)$
        exclude: ^cdk/cdk\.out
        types: [ file ]
        pass_filenames: false

      - id: eslint
        name: ESLint
        entry: bash -c 'cd cdk && npx eslint . --ext .ts,.tsx --fix --ignore-pattern "cdk.out/**"'
        language: system
        files: ^cdk/.*\.(ts|tsx)$
        exclude: ^cdk/cdk\.out
        types: [file]

      - id: prettier
        name: Prettier
        entry: bash -c 'cd cdk && npx prettier --write .'
        language: system
        files: ^cdk/.*\.(ts|tsx|js|jsx|json|yml|yaml|md)$
        exclude: ^cdk/cdk\.out
        types: [file]
