[tool.black]
line-length = 100

[tool.isort]
known_first_party = ["aws_oversightml_model_runner"]

# required for compatibility with black:
profile = "black"

# To maintain consistency with other settings
line_length = 100