---
# Release
#
# Job that will create a release in the GitLab project. This will grab all of
# the changes for the tag and post them as a GitLab release.

# This job is conditional and only runs if there is a tagged commit.
#

stages:
  - release

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "running release for $CI_COMMIT_TAG"
    - awk 's{ print ""; print}; $0~v {print; s=1; next}; s=0' RS= v=$CI_COMMIT_TAG CHANGELOG.md > description.md
    - |
      release-cli create \
        --name $CI_COMMIT_TAG \
        --description description.md \
        --tag-name $CI_COMMIT_TAG
