---
# Common GitLab CI Templates
#
# This file contains reusable job templates for GitLab CI pipelines.
# It includes templates for identifying the current tag, running unit tests,
# and creating releases.
#
# Usage:
# To use these templates in your GitLab CI pipeline, include this file and extend
# the desired template in your job definition:
#
# include:
#   - local: common/common.gitlab-ci.yml
#
# identify_tag_version:
#   extends: .identify_tag_version_template
#
# pytest:
#   extends: .pytest_template
#
# release:
#   extends: .release_template

# Current Tag Template
.identify_tag_version_template: &identify_tag_version
  stage: identify_tag_version
  artifacts:
    reports:
      dotenv: vars.env
  script:
    - |
      if [ -z "${CURRENT_TAG}" ]; then
        export CURRENT_TAG_VERSION=$(grep -m1 '"version":' version.json | tr -d '[:space:]' | cut -d':' -f2 | tr -d ',"')
        export CURRENT_TAG="v$(echo ${CURRENT_TAG_VERSION} | tr '.' '-')"
        echo "CURRENT_TAG=$CURRENT_TAG" > vars.env
      fi
    - echo "Using CURRENT_TAG=$CURRENT_TAG"

.release_template: &release
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "running release for $CI_COMMIT_TAG"
    - awk 's{ print ""; print}; $0~v {print; s=1; next}; s=0' RS= v=$CI_COMMIT_TAG CHANGELOG.md > description.md
    - |
      release-cli create \
        --name $CI_COMMIT_TAG \
        --description description.md \
        --tag-name $CI_COMMIT_TAG

.pytest_template: &pytest
  stage: unit
  image:
    name: ${MICROSERVICE_IMAGE}
    entrypoint: [""]
  needs: [build]
  variables: 
    GIT_STRATEGY: clone  
    # Build Variables
    BUILD_CERT: /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem 
    PIP_INDEX_URL: https://pypi.org/simple/
    PACKAGES: "cmake wget gcc gcc-c++ libstdc++ sqlite-libs libcurl libtiff zlib libzstd libjpeg-turbo libpng openjpeg2 libwebp expat libpq"
    CPLUS_INCLUDE_PATH: /usr/include/gdal
    C_INCLUDE_PATH: /usr/include/gdal
    # Application mock env variables
    AWS_REGION: "us-west-2"
    WORKERS: "4"
    WORKERS_PER_CPU: "1"
    JOB_TABLE: "TEST-JOB-TABLE"
    ENDPOINT_TABLE: "TEST-ENDPOINT-STATS-TABLE"
    FEATURE_TABLE: "TEST-FEATURE-TABLE"
    REGION_REQUEST_TABLE: "TEST-REGION-REQUEST-TABLE"
    IMAGE_QUEUE: "TEST-IMAGE-QUEUE"
    REGION_QUEUE: "TEST-REGION-QUEUE"
    IMAGE_STATUS_TOPIC: "TEST-IMAGE-STATUS-TOPIC"
    REGION_STATUS_TOPIC: "TEST-REGION-STATUS-TOPIC"
    SM_SELF_THROTTLING: "true"
    AWS_ACCESS_KEY_ID: "testing"
    AWS_SECRET_ACCESS_KEY: "testing"
    AWS_SECURITY_TOKEN: "testing"
    AWS_SESSION_TOKEN: "testing"
  script:
    - export AWS_DEFAULT_REGION=$AWS_REGION
    - python3 -m pip install  --user --no-cache-dir --index-url ${PIP_INDEX_URL} --cert ${BUILD_CERT} .
    - python3 -m pip install --user --index-url ${PIP_INDEX_URL} --cert ${BUILD_CERT} -r test/requirements-test.txt
    - python3 -m pytest --durations=10 --cov-config .coveragerc --cov aws.osml.model_runner
  coverage: '/^TOTAL.*?(\d+)%/'
