# Runs the Pytest suite for the model runner application in both AWS Factory and 
# allows overrides for tests in controlled space 


pytest_functionality: 
  stage: unit
  image:
    name: ${MICROSERVICE_IMAGE}
    entrypoint: [""]
  needs: [build]
  variables: 
    GIT_STRATEGY: clone  
    # Build Variables
    BUILD_CERT: /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem 
    PIP_INDEX_URL: https://pypi.org/simple/
    PACKAGES: "cmake wget gcc gcc-c++ libstdc++ sqlite-libs libcurl libtiff zlib libzstd libjpeg-turbo libpng openjpeg2 libwebp expat libpq"
    CPLUS_INCLUDE_PATH: /usr/include/gdal
    C_INCLUDE_PATH: /usr/include/gdal
    # Application mock env variables
    AWS_REGION: "us-west-2"
    WORKERS: "4"
    WORKERS_PER_CPU: "1"
    JOB_TABLE: "TEST-JOB-TABLE"
    ENDPOINT_TABLE: "TEST-ENDPOINT-STATS-TABLE"
    FEATURE_TABLE: "TEST-FEATURE-TABLE"
    REGION_REQUEST_TABLE: "TEST-REGION-REQUEST-TABLE"
    IMAGE_QUEUE: "TEST-IMAGE-QUEUE"
    REGION_QUEUE: "TEST-REGION-QUEUE"
    IMAGE_STATUS_TOPIC: "TEST-IMAGE-STATUS-TOPIC"
    SM_SELF_THROTTLING: "true"
    AWS_ACCESS_KEY_ID: "testing"
    AWS_SECRET_ACCESS_KEY: "testing"
    AWS_SECURITY_TOKEN: "testing"
    AWS_SESSION_TOKEN: "testing"
  script: 
    - export AWS_DEFAULT_REGION=$AWS_REGION
    - python3 -m pip install  --user --no-cache-dir --index-url ${PIP_INDEX_URL} --cert ${BUILD_CERT} .
    - python3 -m pip install --user --index-url ${PIP_INDEX_URL} --cert ${BUILD_CERT} -r test/requirements-test.txt
    - python3 -m pytest --durations=10 --cov-config .coveragerc --cov aws.osml.model_runner