# Runs the Pytest suite for the model runner application in both AWS Factory and 
# allows overrides for tests in controlled space 


pytest_functionality: 
  stage: test
  image:
    name: ${GDAL_BASE_IMG}
    entrypoint: [""]
  variables: 
    GIT_STRATEGY: clone  
    # Build Variables
    BUILD_CERT: /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem 
    PIP_INSTALL_LOCATION: https://pypi.org/simple/
    PACKAGES: "cmake wget gcc gcc-c++ libstdc++ sqlite-libs libcurl libtiff zlib libzstd libjpeg-turbo libpng openjpeg2 libwebp expat libpq"
    CPLUS_INCLUDE_PATH: /usr/include/gdal
    C_INCLUDE_PATH: /usr/include/gdal
    # Application mock env variables
    AWS_DEFAULT_REGION: "us-west-2"
    WORKERS: "4"
    WORKERS_PER_CPU: "1"
    JOB_TABLE: "TEST-JOB-TABLE"
    ENDPOINT_TABLE: "TEST-ENDPOINT-STATS-TABLE"
    FEATURE_TABLE: "TEST-FEATURE-TABLE"
    REGION_REQUEST_TABLE: "TEST-REGION-REQUEST-TABLE"
    IMAGE_QUEUE: "TEST-IMAGE-QUEUE"
    REGION_QUEUE: "TEST-REGION-QUEUE"
    IMAGE_STATUS_TOPIC: "TEST-IMAGE-STATUS-TOPIC"
    SM_SELF_THROTTLING: "true"
    AWS_ACCESS_KEY_ID: "testing"
    AWS_SECRET_ACCESS_KEY: "testing"
    AWS_SECURITY_TOKEN: "testing"
    AWS_SESSION_TOKEN: "testing"
  script: 
    - dnf makecache --refresh 
    - dnf update -y 
    - dnf install -y --setopt=tsflags=nodocs --allowerasing ${PACKAGES} 
    - rm -f /usr/lib/libturbojpeg.so* 
    - rm -f /usr/lib/libwebpmux.so* /usr/lib/libwebpdemux.so* /usr/lib/libwebpdecoder.so*
    - dnf clean all
    - rm -rf /var/cache/dnf/ /var/tmp/* /tmp/* /var/tmp/.???* /tmp/.???*
    - ls -a
    - |
      python3 -m pip install \
        --no-cache-dir \
        --index-url ${PIP_INSTALL_LOCATION} \
        --cert ${BUILD_CERT} -e . \
    - |
      python3 -m pip install \
      --index-url ${PIP_INSTALL_LOCATION} \
      --cert ${BUILD_CERT} \
      -r test/requirements-test.txt
    - export GDAL_VERSION=`gdal-config --version`
    - | # Have to force reinstall GDAL because of how it establishes python bindings using SWIG, known bug in GDAL.
      pip3 install \
        --force-reinstall \
        --no-cache-dir \
        --index-url ${PIP_INSTALL_LOCATION} \
        --cert ${BUILD_CERT} \
        GDAL==$GDAL_VERSION
    - python3 -m pytest --durations=10 --cov-config .coveragerc --cov aws.osml.model_runner