# Runs the Pytest suite for the model runner application in both AWS Factory and 
# allows overrides for tests in controlled space 


pytest_functionality: 
  stage: test
  image:
    name: $MODEL_RUNNER_IMAGE
    entrypoint: [""]
  variables: 
    GIT_STRATEGY: clone  
    # Pip install Variables 
    BUILD_CERT: /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem 
    PIP_INSTALL_LOCATION: https://pypi.org/simple/
    # Application mock env variables
    AWS_DEFAULT_REGION: "us-west-2"
    WORKERS: "4"
    WORKERS_PER_CPU: "1"
    JOB_TABLE: "TEST-JOB-TABLE"
    ENDPOINT_TABLE: "TEST-ENDPOINT-STATS-TABLE"
    FEATURE_TABLE: "TEST-FEATURE-TABLE"
    REGION_REQUEST_TABLE: "TEST-REGION-REQUEST-TABLE"
    IMAGE_QUEUE: "TEST-IMAGE-QUEUE"
    REGION_QUEUE: "TEST-REGION-QUEUE"
    IMAGE_STATUS_TOPIC: "TEST-IMAGE-STATUS-TOPIC"
    SM_SELF_THROTTLING: "true"
    AWS_ACCESS_KEY_ID: "testing"
    AWS_SECRET_ACCESS_KEY: "testing"
    AWS_SECURITY_TOKEN: "testing"
    AWS_SESSION_TOKEN: "testing"
  script: 
    - pip3 install --index-url $PIP_INSTALL_LOCATION --cert $BUILD_CERT -r test/requirements-test.txt -t .
    - | # Have to force reinstall GDAL because of how it establishes python bindings using SWIG, known bug in GDAL.
      python3 -m pip install \
        --force-reinstall \
        --no-cache-dir \
        --index-url ${PIP_INSTALL_LOCATION} \ 
        --cert ${BUILD_CERT} \
        GDAL==$(gdal-config --version | awk -F'[.]' '{print $1"."$2"."$3}') --global-option=build_ext --global-option="-I/usr/include/gdal"
    - python3 -m pytest --durations=10 --cov-config .coveragerc --cov aws.osml.model_runner