---
# Push
#
# Job that will push/mirror the master branch to the CodeCommit repository
# in the AWS shared account.

# These jobs are conditionally included at the top level of the pipeline and
# will only execute on the `mainline` branch.
#

stages:
  - push

push:
  stage: push
  dependencies: []
  variables:
    AWS_DEFAULT_REGION: us-east-2
    AWS_CREDS_TARGET_ROLE: $PUSH_AWS_CREDS_TARGET_ROLE
  before_script:
    - apk add --no-cache aws-cli git
    - git config --global credential.helper '!aws codecommit credential-helper $@'
    - git config --global credential.UseHttpPath true
  script:
    - git remote set-url origin $PUSH_REPO_URL
    - git push origin HEAD:refs/heads/mainline --force
    - git push --tags