---
# Build
#

stages:
  - build

variables: 
  MODEL_RUNNER_IMAGE: ${CI_REGISTRY_IMAGE}/ie-model-runner:${CI_COMMIT_REF_SLUG}

build: 
  extends: .kaniko
  stage: build
  needs: []
  variables:
    # User defined
    TARGET: "runner"
    DOCKERFILE: "docker/Dockerfile"
    DESTINATION: ${MODEL_RUNNER_IMAGE}
