---
# Build job for Model Runner Service
#

build:
  extends: .kaniko_template
  stage: build
  needs: [identify_tag_version]
  variables:
    # Override Dockerfile default with GDAL base image
    BASE_IMG: ${GDAL_BASE_IMG}
    TARGET: "runner"
    DOCKERFILE: docker/Dockerfile
    DESTINATION: ${MICROSERVICE_IMAGE}
    PYTHON_BINARY: "python3.13"
    PIP_BINARY: "pip3.13"
