---
# Security
#
# Jobs that will perform various security checks against the codebase.
#

stages:
  - test

include:
  - component: gitlab.aws.dev/wwps-proserve-dod/common/aws-gitlab-analyzers/sast@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/aws-gitlab-analyzers/secrets@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/fortify-sast/fortify@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/bandit-sast/bandit@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/checkov-sast/checkov@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/grype-sca/grype@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/semgrep-sast/semgrep@~latest
  - component: gitlab.aws.dev/wwps-proserve-dod/common/aws-gitlab-analyzers/container@~latest
    inputs:
      gl_scan_image: $MICROSERVICE_IMAGE
      gl_scan_type: grype
  - project: 'wwps-proserve-dod/common/aws-gitlab-package-notifications'
    ref: main
    file: '/.gitlab/package.gitlab-ci.yml'
