### MR pipeline to trigger an IPCDK deployment

target:select:
  extends: .target:select

target:load:
  extends: .target:load
  needs: 
    - job: target:select
      artifacts: true

trigger-infrastructure-pipeline:
  stage: deploy
  script:
    - apk add --no-cache curl jq
    - echo "Triggering infrastructure pipeline..."
    - |
      echo "REVIEW_ACCOUNT_ID: ${REVIEW_ACCOUNT_ID}"
      echo "REVIEW_ACCOUNT_REGION: $REVIEW_ACCOUNT_REGION"
      echo "MICROSERVICE: $MICROSERVICE"
      echo "TAG: ${CI_COMMIT_REF_SLUG}"
    - |
      infrastructure_pipeline_id=$(curl --request POST \
        --form token=$IPCDK_TRIGGER_TOKEN \
        --form "ref=ci/fix-destroy-review-jobs" \
        --form "variables[REVIEW_ACCOUNT_ID]=$REVIEW_ACCOUNT_ID" \
        --form "variables[REVIEW_ACCOUNT_REGION]=$REVIEW_ACCOUNT_REGION" \
        --form "variables[MICROSERVICE]=$MICROSERVICE" \
        --form "variables[TAG]=${CI_COMMIT_REF_SLUG}" \
        "${CI_API_V4_URL}/projects/${IPCDK_ID}/trigger/pipeline" | jq -r '.id')
    - echo "infrastructure_pipeline_id=$infrastructure_pipeline_id" >> infra.env
    - echo $infrastructure_pipeline_id
  needs:
    - job: build
    - job: target:select
      artifacts: true
    - job: target:load
      artifacts: true
  artifacts:
    reports:
      dotenv: infra.env

manual-approval:
  stage: deploy
  script:
    - echo "Waiting for manual approval..."
  when: manual
  allow_failure: true
  rules:
    - when: manual

wait-for-infrastructure-pipeline:
  stage: deploy
  script:
    - apk add --no-cache curl jq
    - |
      while true; do
        echo "${CI_API_V4_URL}/projects/${IPCDK_ID}/pipelines/${infrastructure_pipeline_id}"
        pipeline=$(curl --header "PRIVATE-TOKEN: ${CI_ENV_TOKEN}" "${CI_API_V4_URL}/projects/${IPCDK_ID}/pipelines/${infrastructure_pipeline_id}")
        status=$(curl --header "PRIVATE-TOKEN: ${CI_ENV_TOKEN}" "${CI_API_V4_URL}/projects/${IPCDK_ID}/pipelines/${infrastructure_pipeline_id}" | jq -r '.status')
        echo "pipeline= $pipeline"
        if [ "$status" == "failed" ]; then
          echo "Infrastructure pipeline failed."
          exit 1
        elif [ "$status" == "success" ]; then
          echo "Infrastructure pipeline completed successfully."
          break
        else
          echo "Infrastructure pipeline is still running. Status is: $status. Waiting..."
          sleep 60
        fi
      done
  needs:
    - job: trigger-infrastructure-pipeline
      artifacts: true
    - job: target:load
      artifacts: true
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      when: on_success
      allow_failure: true
    - when: manual

wait-for-infrastructure-pipeline-manual:
  stage: deploy
  script:
    - echo "Infrastructure pipeline completed successfully. Proceeding with the next steps."
  needs:
    - job: wait-for-infrastructure-pipeline
      optional: true
    - job: manual-approval
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_PIPELINE_SOURCE == 'web'


target:unselect:
  extends: .target:unselect
  needs:
    - job: wait-for-infrastructure-pipeline
    - job: wait-for-infrastructure-pipeline-manual