### MR pipeline to trigger an IPCDK deployment

target:select:
  extends: .target:select

target:load:
  extends: .target:load
  needs:
    - job: target:select
      artifacts: true

trigger-infrastructure-pipeline:
  stage: deploy
  resource_group: ${MICROSERVICE}_${REVIEW_ACCOUNT_ID}_deploy
  trigger:
    project: helix/aip/inference-platform-cdk
    branch: mainline
    strategy: depend
  variables:
    REVIEW_ACCOUNT_ID: ${REVIEW_ACCOUNT_ID}
    REVIEW_ACCOUNT_REGION: ${REVIEW_ACCOUNT_REGION}
    TAG: ${CI_COMMIT_REF_SLUG}
    PIPELINE_TITLE: "Deploy ${MICROSERVICE}:${CI_COMMIT_REF_SLUG} to ${REVIEW_ACCOUNT_ID}"
  needs:
    - job: build
    - job: target:select
      artifacts: true
    - job: target:load
      artifacts: true
  allow_failure: true

manual-approval:
  stage: deploy
  image: public.ecr.aws/docker/library/alpine:3.19.1
  script:
    - echo "Manual approval provided..."
  when: manual
  needs:
    - job: target:select
      artifacts: true
    - job: target:load
      artifacts: true
  allow_failure: true

target:unselect:
  extends: .target:unselect
  stage: cleanup
  needs:
    - job: trigger-infrastructure-pipeline
      optional: true
    - job: manual-approval
      optional: true
    - job: target:select
      artifacts: true
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"'
      when: on_success
