---
# AWS GitLab Model Runner Entrypoint 
#

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG

stages:
  - identify_tag_version
  - lint
  - build
  - unit
  - test
  - deploy
  - push
  - release

before_script:
  - |
    if [ -z "${CURRENT_TAG}" ]; then
      export CURRENT_TAG_VERSION=$(grep -m1 '"version":' version.json | tr -d '[:space:]' | cut -d':' -f2 | tr -d ',"')
      export CURRENT_TAG="v$(echo ${CURRENT_TAG_VERSION} | tr '.' '-')"
      echo "CURRENT_TAG=$CURRENT_TAG" > vars.env
    fi
  - echo "Using CURRENT_TAG=$CURRENT_TAG"

variables:
  GITLAB_ANALYZER_SEVERITY: high  # tuned for customer requirements
  GDAL_BASE_IMG: ${CI_REGISTRY}/helix/aip/gdal-base:latest
  MODEL_RUNNER_IMAGE: ${CI_REGISTRY_IMAGE}/ie-model-runner:${CI_COMMIT_REF_SLUG}

include:
  # hidden
  - local: .gitlab/aws/.hidden.gitlab-ci.yml

  # always
  - local: .gitlab/aws/always/.gitlab-ci.yml

  # merge requests
  - local: .gitlab/aws/merge_request/.gitlab-ci.yml
    rules:
      - if: $CI_PIPELINE_SOURCE == "merge_request_event"

  # branch: mainline
  - local: .gitlab/aws/mainline/.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_BRANCH == "mainline"

  # tag/release
  - local: .gitlab/aws/tag/.gitlab-ci.yml
    rules:
      - if: $CI_COMMIT_TAG

  # overrides
  - local: .gitlab/aws/.overrides.gitlab-ci.yml
