---
# Hidden
#

.kaniko:
  tags: [size:xlarge, arch:amd64]
  retry: 2
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  variables:
    # User defined
    BASE_IMG: ""
    TARGET: ""
    BUILD_DIR: "."
    CONTEXT: "."
    DOCKERFILE: "Dockerfile"
    DESTINATION: ""
    DESTINATION_ECR_IMAGE: ""
    TAR_IMAGE_NAME: ""
  script:
    # Auth
    - mkdir -p /kaniko/.docker
    # TODO: add AWS CLI then run an ecr login login 
    - GITLAB_AUTH=$(echo -n "${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}" | base64 -w 0)
    - |
      cat << EOF > /kaniko/.docker/config.json
      {
        "credHelpers": {
          "": "ecr-login"
        },
        "auths": {
          "${CI_REGISTRY}": {
            "auth": "${GITLAB_AUTH}"
          },
          "${IRONBANK_REGISTRY}": {
            "auth": "${IRONBANK_CREDENTIAL}"
          }
        }
      }
      EOF
    - cat /kaniko/.docker/config.json
    - cd "${BUILD_DIR}"
    - >-
      /kaniko/executor
      $( [[ "$(printf '%s' "${TARGET}")" != "" ]] && echo "--target ${TARGET}")
      $( [[ "$(printf '%s' "${BASE_IMG}")" != "" ]] && echo "--build-arg BASE_IMG=${BASE_IMG}")
      --context "${CONTEXT}"
      --dockerfile "${DOCKERFILE}"
      --label aws.project.build_date=$(date +"%Y-%m-%dT%H:%M:%S%:z")
      --label aws.project.title="${CI_PROJECT_TITLE}"
      --label aws.project.pipeline="${CI_PIPELINE_URL}"
      --label aws.project.commit=${CI_COMMIT_SHA}
      --label aws.project.commit_author="${CI_COMMIT_AUTHOR}"
      --label aws.project.branch=${CI_COMMIT_BRANCH}
      --label aws.project.url=${CI_PROJECT_URL}
      $( [[ "$(printf '%s' "${TAR_IMAGE_NAME}")" != "" ]] && echo "--tar-path ${TAR_IMAGE_NAME}.tar")
      $( [[ "$(printf '%s' "${DESTINATION}")" != "" ]] && echo "--destination ${DESTINATION}")
      $( [[ "$(printf '%s' "${DESTINATION_ECR_IMAGE}")" != "" ]] && echo "--destination ${DESTINATION_ECR_IMAGE}")
    - |
      if [[ "$(printf '%s' "$TAR_IMAGE_NAME")" != "" ]]; then
        echo "Compressing tarball - ${TAR_IMAGE_NAME}.tar"
        gzip -9 < ${TAR_IMAGE_NAME}.tar > ${TAR_IMAGE_NAME}.tar.gz
      fi
    - REPORT_FILEPATH=report.txt
    - echo "Build Report -- $(date) -- ${CI_COMMIT_SHORT_SHA}" >> ${REPORT_FILEPATH}
    - 'echo "  Commit Full Hash: ${CI_COMMIT_SHA}" >> ${REPORT_FILEPATH}'
    - 'echo "  Commit Author: ${CI_COMMIT_AUTHOR}" >> ${REPORT_FILEPATH}'
    - 'echo "  Project Url: ${CI_PROJECT_URL}" >> ${REPORT_FILEPATH}'
    - 'echo "  Branch: ${CI_COMMIT_BRANCH}" >> ${REPORT_FILEPATH}'
    - 'echo "  Build System: ${CI_RUNNER_TAGS}" >> ${REPORT_FILEPATH}'
    - 'echo "  Pipeline: ${CI_PIPELINE_URL}" >> ${REPORT_FILEPATH}'
    - 'echo "  Job: ${CI_JOB_URL}" >> ${REPORT_FILEPATH}'
    - |
      if [[ "$(printf '%s' "${TAR_IMAGE_NAME}")" != "" ]]; then
        echo "Tar Info --"
        echo "Image Size: $(du -sh ${TAR_IMAGE_NAME}.tar.gz)"
        echo "sha256" >> ${REPORT_FILEPATH}
        sha256sum >> ${REPORT_FILEPATH}
      fi
    - cat $REPORT_FILEPATH

.aws_ecr_push_command:
  timeout: 2h
  image: public.ecr.aws/docker/library/alpine:3.19.1
  variables:
    # Authenticate to the AWS account
    AWS_CREDS_TARGET_ROLE: ""
    AWS_DEFAULT_REGION: ""
  script:
    - apk add aws-cli git skopeo
    - export $(cat vars.env | xargs)
    - export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
    - skopeo copy docker://${MODEL_RUNNER_IMAGE} docker://${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/ie-model-runner:${CURRENT_TAG} --dest-creds AWS:$(aws ecr get-login-password --output text) --src-creds gitlab-ci-token:${CI_JOB_TOKEN}
    - skopeo copy docker://${CI_REGISTRY_IMAGE}/ie-model-runner:stable docker://${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/ie-model-runner:stable --dest-creds AWS:$(aws ecr get-login-password --output text) --src-creds gitlab-ci-token:${CI_JOB_TOKEN}


.skopeo:
  timeout: 2h
  image: public.ecr.aws/docker/library/alpine:3.19.1
  before_script:
    - apk add aws-cli git skopeo
    - export $(cat vars.env | xargs)