---
# Hidden
#
# Items that are hidden by default and must be extended upon to be used. These
# jobs are normally used in multiple places, so extending them promotes
# reusability.
#

######################
# Docker
######################
.kaniko:
  tags: [size:xlarge, arch:amd64]
  retry: 2
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  variables:
    # User defined
    BASE_IMG: ""
    TARGET: ""
    BUILD_DIR: "."
    CONTEXT: "."
    DOCKERFILE: "Dockerfile"
    DESTINATION: ""
    DESTINATION_ECR_IMAGE: ""
    TAR_IMAGE_NAME: ""
  script:
    # Auth
    - mkdir -p /kaniko/.docker
    # TODO: add AWS CLI then run an ecr login login 
    - GITLAB_AUTH=$(echo -n "${CI_REGISTRY_USER}:${CI_REGISTRY_PASSWORD}" | base64 -w 0)
    - |
      cat << EOF > /kaniko/.docker/config.json
      {
        "credHelpers": {
          "": "ecr-login"
        },
        "auths": {
          "${CI_REGISTRY}": {
            "auth": "${GITLAB_AUTH}"
          },
          "${IRONBANK_REGISTRY}": {
            "auth": "$(echo -n "${IRONBANK_USERNAME}:${IRONBANK_CREDENTIAL}" | base64 -w 0)"
          }
        }
      }
      EOF
    - cat /kaniko/.docker/config.json
    - cd "${BUILD_DIR}"
    - >-
      /kaniko/executor
      $( [[ "$(printf '%s' "${TARGET}")" != "" ]] && echo "--target ${TARGET}")
      $( [[ "$(printf '%s' "${BASE_IMG}")" != "" ]] && echo "--build-arg BASE_IMG=${BASE_IMG}")
      --context "${CONTEXT}"
      --dockerfile "${DOCKERFILE}"
      --label aws.project.build_date=$(date +"%Y-%m-%dT%H:%M:%S%:z")
      --label aws.project.title="${CI_PROJECT_TITLE}"
      --label aws.project.pipeline="${CI_PIPELINE_URL}"
      --label aws.project.commit=${CI_COMMIT_SHA}
      --label aws.project.commit_author="${CI_COMMIT_AUTHOR}"
      --label aws.project.branch=${CI_COMMIT_BRANCH}
      --label aws.project.url=${CI_PROJECT_URL}
      --skip-tls-verify
      $( [[ "$(printf '%s' "${TAR_IMAGE_NAME}")" != "" ]] && echo "--tar-path ${TAR_IMAGE_NAME}.tar")
      $( [[ "$(printf '%s' "${DESTINATION}")" != "" ]] && echo "--destination ${DESTINATION}")
      $( [[ "$(printf '%s' "${DESTINATION_ECR_IMAGE}")" != "" ]] && echo "--destination ${DESTINATION_ECR_IMAGE}")
    - |
      if [[ "$(printf '%s' "$TAR_IMAGE_NAME")" != "" ]]; then
        echo "Compressing tarball - ${TAR_IMAGE_NAME}.tar"
        gzip -9 < ${TAR_IMAGE_NAME}.tar > ${TAR_IMAGE_NAME}.tar.gz
      fi
    - REPORT_FILEPATH=report.txt
    - echo "Build Report -- $(date) -- ${CI_COMMIT_SHORT_SHA}" >> ${REPORT_FILEPATH}
    - 'echo "  Commit Full Hash: ${CI_COMMIT_SHA}" >> ${REPORT_FILEPATH}'
    - 'echo "  Commit Author: ${CI_COMMIT_AUTHOR}" >> ${REPORT_FILEPATH}'
    - 'echo "  Project Url: ${CI_PROJECT_URL}" >> ${REPORT_FILEPATH}'
    - 'echo "  Branch: ${CI_COMMIT_BRANCH}" >> ${REPORT_FILEPATH}'
    - 'echo "  Build System: ${CI_RUNNER_TAGS}" >> ${REPORT_FILEPATH}'
    - 'echo "  Pipeline: ${CI_PIPELINE_URL}" >> ${REPORT_FILEPATH}'
    - 'echo "  Job: ${CI_JOB_URL}" >> ${REPORT_FILEPATH}'
    - |
      if [[ "$(printf '%s' "${TAR_IMAGE_NAME}")" != "" ]]; then
        echo "Tar Info --"
        echo "Image Size: $(du -sh ${TAR_IMAGE_NAME}.tar.gz)"
        echo "sha256" >> ${REPORT_FILEPATH}
        sha256sum >> ${REPORT_FILEPATH}
      fi
    - cat $REPORT_FILEPATH

.aws_ecr_push_command:
  timeout: 2h
  image: public.ecr.aws/docker/library/alpine:3.19.1
  variables:
    # Authenticate to the AWS account
    AWS_CREDS_TARGET_ROLE: ""
    AWS_DEFAULT_REGION: ""
  script:
    - apk add aws-cli git skopeo
    - export $(cat vars.env | xargs)
    - export AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
    - skopeo copy docker://${MICROSERVICE_IMAGE} docker://${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/${MICROSERVICE}:${CURRENT_TAG} --dest-creds AWS:$(aws ecr get-login-password --output text) --src-creds gitlab-ci-token:${CI_JOB_TOKEN}
    - skopeo copy docker://${CI_REGISTRY_IMAGE}/${MICROSERVICE}:stable docker://${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/${MICROSERVICE}:stable --dest-creds AWS:$(aws ecr get-login-password --output text) --src-creds gitlab-ci-token:${CI_JOB_TOKEN}

.skopeo:
  timeout: 2h
  image: public.ecr.aws/docker/library/alpine:3.19.1
  before_script:
    - apk add aws-cli git skopeo
    - export $(cat vars.env | xargs)
######################

######################
# Targets
######################
.gl_api: &gl_api
    - apk add curl jq
    - |
      _gl_api() {
        method="$1"
        endpoint="$2"
        response=$(curl --request "$method" --header "PRIVATE-TOKEN: ${CI_ENV_TOKEN}" \
          "${CI_API_V4_URL}/$endpoint")
        echo "$response"
      }

.target:select:
  stage: prepare
  dependencies: []
  before_script:
    - *gl_api
    - |
      find_open_environment() {
        for e in "$@"; do
          response=$(_gl_api GET /groups/${SUBGROUP_ID}/merge_requests?labels=$e)
          count=$(echo "$response" | jq length)
          if [ "$count" == "0" ]; then
            echo "$e"
            return
          fi
        done
      }
  script:
    - >
      current_label=$(_gl_api GET projects/${CI_PROJECT_ID}/merge_requests/${CI_MERGE_REQUEST_IID} | jq -r ".labels | map(select(. | test(\"^review\"))) | first | select(. != null)") 
    - |  
      if [ -n "$current_label" ]; then
        target_env=$current_label
        echo "The current merge request already has the label $current_label assigned."
      else
        target_env=$(find_open_environment review1 review2 review3 review4 review5 review6 review7 review8 review9 review10)
        if [ -n "$target_env" ]; then
          _gl_api PUT projects/${CI_PROJECT_ID}/merge_requests/${CI_MERGE_REQUEST_IID}?add_labels=$target_env
          echo "Added label $target_env to the current merge request."
        else
          echo "Error: No open review environment found."
          exit 1
        fi
      fi
    - |
      if [ -n "$target_env" ]; then
        target="${target_env}"
        echo -e "\e[94m-----------------------------------------------"
        echo -e "\e[94m Selected Target = $target"
        echo -e "\e[94m-----------------------------------------------"
        echo "TARGET=${target}" >> target.env
      fi
  artifacts:
    reports:
      dotenv: target.env

.target:load:
  stage: prepare
  variables:
    TARGET: ""
  script:
    - apk add git yq
    - git clone https://gitlab-ci-token:$CI_JOB_TOKEN@$CI_SERVER_HOST/$CONFIG_REPO config
    - |
      # Read the account ID and region from the review-accounts.yaml file
      account_id=$(yq e ".${TARGET}.account_id" config/deployment/review-accounts/review-accounts.yaml | tr -d '"')
      region=$(yq e ".${TARGET}.region" config/deployment/review-accounts/review-accounts.yaml | tr -d '"')

      echo -e "\e[94m-----------------------------------------------"
      echo -e "\e[94m Target Environment = $TARGET"
      echo -e "\e[94m Target AWS Account = $account_id"
      echo -e "\e[94m Target AWS Region = $region"
      echo -e "\e[94m-----------------------------------------------"

      echo "TARGET=${TARGET}" >> aws.env
      echo "REVIEW_ACCOUNT_REGION=${region}" >> aws.env
      echo "REVIEW_ACCOUNT_ID=${account_id}" >> aws.env
  artifacts:
    reports:
      dotenv: aws.env

.target:unselect:
  stage: deploy
  before_script:
    - *gl_api
  script:
    - _gl_api PUT projects/${CI_PROJECT_ID}/merge_requests/${CI_MERGE_REQUEST_IID}?remove_labels=review1,review2,review3,review4,review5,review6,review7,review8,review9,review10
######################