---
# Overrides
#
# This file contains overrides for jobs that are inherited from other external
# sources. This is necessary to adhere to the pipeline configuration for this
# project repository.
#

.job_config: &job_config
  needs: []
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - if: $CI_COMMIT_BRANCH || $CI_COMMIT_TAG
gl-secret-detection:
  <<: *job_config
gl-semgrep-sast:
  <<: *job_config
bandit-sast-scan:
  <<: *job_config
checkov-sast:
  <<: *job_config
grype-sca:
  <<: *job_config
semgrep-sast-scan:
  <<: *job_config
fortify-sast:
  <<: *job_config
