include:
- template: Security/SAST.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
- local: .gitlab/pipelines/feature-branch.gitlab-ci.yml
  rules: 
    - if: $CI_COMMIT_BRANCH != "mainline"
- local: .gitlab/pipelines/kaniko-release.gitlab-ci.yml
  rules:
    - if: $CI_COMMIT_BRANCH == "mainline" 

variables: 
  GDAL_BASE_IMG: registry.gitlab.aws.dev/helix/aip/aip-ops-env/gdal-base:latest