default:
  tags:
    - dind

stages:
  - build
  - security_scans
  - test
  - publish
  - transfer

include:
  - .gitlab/common/security.gitlab-ci.yml
  - .gitlab/common/unit-tests.gitlab-ci.yml 
  - project: 'maven-integration/public/cicd-examples'
    ref: main
    file: '.gitlab-ci.yml'
  # Add back in as program or security asks for sonarqube or owasp onboarding 
  # - project: 'DevOps/security-scanning/scanning-templates'
  #   file: '/sonarqube-check.yml'
  # - project: 'DevOps/security-scanning/scanning-templates'
  #   file: '/owasp-depcheck.yml'

variables: 
  BUILD_CERT: /certs/tls-ca-bundle.pem
  BASE_GIT_URL: https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.gs.mil/maven-integration/aws/aws-aip
  PIP_INSTALL_LOCATION: https://mirrors.gs.mil/repository/pypi.org-proxy/simple
  NEXUS3_USER: ${maven_integration_nexus_3_credential_username}
  NEXUS3_PASSWORD: ${maven_integration_nexus_3_credential_password}
  MODEL_NAME: "ie-model-runner"
  MODEL_TAG: "mainline"
  MODEL_RUNNER_IMAGE: $CI_REGISTRY_IMAGE/ie-model-runner:$CI_COMMIT_REF_SLUG
  GDAL_BASE_IMG: ${CI_REGISTRY}/maven-integration/aws/aws-aip/aipopsenv/gdal-exec-base:latest



build_model_runner:
  stage: build
  tags:
    - dind
  before_script:
    # Login to iron bank per instructions here: https://discourse.gs.mil/t/how-do-i-use-platform-one-iron-bank-hosted-images-at-nga/5187/2
    - docker login -u ${REGISTERY1_USERNAME} -p ${REGISTERY1_PASSWORD} registry1.dso.mil
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
  script:
    - mkdir -p certs/ && cp /certs/tls-ca-bundle.pem certs/tls-ca-bundle.pem
    - | 
      docker build -f docker/Dockerfile.rebake \
                    --build-arg BUILD_CERT=$BUILD_CERT \
                    --build-arg BASE_IMG=${GDAL_BASE_IMG} \
                    -t ${CI_REGISTRY_IMAGE}/cert-base:${CI_COMMIT_REF_SLUG} .
    - |
      docker build --target runner \
                    -f docker/Dockerfile.mr_container \
                    --build-arg PIP_INSTALL_LOCATION=$PIP_INSTALL_LOCATION \
                    --build-arg BUILD_CERT=$BUILD_CERT \
                    --build-arg BASE_CONTAINER=${CI_REGISTRY_IMAGE}/cert-base:${CI_COMMIT_REF_SLUG} \
                    --build-arg CI=${CI} \
                    --build-arg NEXUS_AUTH=${NEXUS3_USER}:${NEXUS3_PASSWORD} \
                    -t $MODEL_RUNNER_IMAGE .
    - docker push $MODEL_RUNNER_IMAGE

# inherited from unit test template, overriding the build and pip install certs 
#   to leverage the NGA python mirrors
pytest_functionality: 
  variables: 
    BUILD_CERT: /certs/tls-ca-bundle.pem
    PIP_INSTALL_LOCATION: https://mirrors.gs.mil/repository/pypi.org-proxy/simple

publish:
  stage: publish
  tags:
    - dind
  only:
    - main
  variables:
    NEXUS3_REPOS: "https://nexus3.gs.mil/repository/Maven_artifacts"
    ARTIFACT: "${MODEL_NAME}-${MODEL_TAG}-${CI_COMMIT_REF_SLUG}.tar.gz"
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - docker pull $MODEL_RUNNER_IMAGE
    - docker save $MODEL_RUNNER_IMAGE | gzip > ${ARTIFACT}
    - curl --user "${NEXUS3_USER}:${NEXUS3_PASSWORD}" --upload-file ./${ARTIFACT} ${NEXUS3_REPOS}/aip/${ARTIFACT}

export-image-nexus3:
  stage: transfer

export-tag-nexus3:
  stage: transfer

export_unavailable:
  # Disabling export_unavailable so pipelines pass while acknowledging its comments.
  stage: transfer
  only:
    - never #TODO: Add on merge to main 

export-image-diode:
  stage: transfer

export-tag-diode:
  stage: transfer
