---
# Push to ecr
#
# Push gitlab images to tst and ops ECR repos
#

push_to_ecr_tst:
  extends:
    - .customer_push_template
    - .customer_aws_template
  tags: [dind]
  variables:
    TARGET: "tst"
    ROLE_ARN: $ROLE_ARN_TST
  needs:
    - job: identify_tag_version
      artifacts: true
    - job: rebake:mr

push_to_ecr_ops:
  extends:
    - .customer_push_template
    - .customer_aws_template
  tags: [dind]
  variables:
    TARGET: "ops"
    ROLE_ARN: $ROLE_ARN_OPS
  needs:
    - job: identify_tag_version
      artifacts: true
    - job: rebake:mr
  when: manual