include:
- template: Security/SAST.gitlab-ci.yml
- template: Security/Secret-Detection.gitlab-ci.yml
- .gitlab/common/unit-tests.gitlab-ci.yml 
- .gitlab/common/kaniko-build.gitlab-ci.yml 

stages:
  - test
  - sast_scans 

variables: 
  MODEL_NAME: "ie-mr-runner"
  MODEL_RUNNER_IMAGE: ${CI_REGISTRY_IMAGE}/${MODEL_NAME}:${CI_COMMIT_REF_SLUG}


build_model_runner: 
  extends: .kaniko 
  variables:
    TARGET: "runner"
    DOCKERFILE: "docker/Dockerfile.mr_container"
    DESTINATION: ${MODEL_RUNNER_IMAGE}

# Technically redundant as inherited from the include but good for consistence and readability 
pytest_functionality: 
  image: 
    name: ${MODEL_RUNNER_IMAGE}
    entrypoint: [""]
  needs: 
    - build_model_runner