include: 
- .gitlab/common/unit-tests.gitlab-ci.yml 
- .gitlab/common/kaniko-build.gitlab-ci.yml 
- .gitlab/common/ecs-redeploy.gitlab-ci.yml

variables: 
  MODEL_NAME: "ie-mr-runner"
  MODEL_RUNNER_IMAGE: ${CI_REGISTRY_IMAGE}/${MODEL_NAME}:latest

build_model_runner: 
  extends: .kaniko 
  variables:
    # User defined
    TARGET: "runner"
    DOCKERFILE: "docker/Dockerfile.mr_container"
    DESTINATION: ${MODEL_RUNNER_IMAGE}

# Technically redundant as inherited from the include but good for consistence and readability 
pytest_functionality: 
  image: 
    name: ${MODEL_RUNNER_IMAGE}
    entrypoint: [""]
  needs: 
    - build_model_runner

tst_publish_model_runner: 
  extends: .kaniko 
  variables:
    # System to publish containers: 
    AWS_CREDS_TARGET_ROLE: ${IE_TST_ROLE}
    AWS_DEFAULT_REGION: ${IE_TST_REGION}
    # User defined
    BASE_IMG: ${MODEL_RUNNER_IMAGE}
    DOCKERFILE: "docker/Dockerfile.pass_through"
    DESTINATION_ECR_IMAGE: "397491166149.dkr.ecr.us-east-1.amazonaws.com/model-runner:latest"
  needs: 
    - pytest_functionality

tst_deploy:
  extends: .ecs_service_redeploy
  needs:
    - tst_publish_model_runner
  variables:
    # Authenticate to the AWS account 
    AWS_CREDS_TARGET_ROLE: ${IE_TST_ROLE}
    AWS_DEFAULT_REGION: ${IE_TST_ROLE}
    CLUSTER_NAME: ${IE_MR_TST_CLUSTER}
    SERVICE_NAME: ${IE_MR_TST_SERVICE}

tst_integration_tests:
  variables:
    # Authenticate to the AWS account 
    AWS_CREDS_TARGET_ROLE: ${IE_TST_ROLE}
    AWS_DEFAULT_REGION: ${IE_TST_REGION}
  needs: 
    - tst_deploy
  script: 
    - echo 
    - echo invoke the inference test harness from the platform code base somehow

ops_approval: 
  needs: 
    - tst_integration_tests
  script: 
    - echo test 
  when: manual 

ops_container_publish: 
  extends: .kaniko 
  needs: 
    - ops_approval
  variables:
    # Authenticate to the AWS account 
    AWS_CREDS_TARGET_ROLE: ${IE_OPS_ROLE}
    AWS_DEFAULT_REGION: ${IE_OPS_REGION}
    # User defined
    BASE_IMG: ${MODEL_RUNNER_IMAGE}
    DOCKERFILE: "docker/Dockerfile.pass_through"
    DESTINATION_ECR_IMAGE: "227620265201.dkr.ecr.us-east-1.amazonaws.com/model-runner:latest" 

ops_deploy:
  extends: .ecs_service_redeploy
  needs:
    - ops_container_publish
  variables:
    # Authenticate to the AWS account 
    AWS_CREDS_TARGET_ROLE: ${IE_OPS_ROLE}
    AWS_DEFAULT_REGION: ${IE_OPS_REGION}
    CLUSTER_NAME: ${IE_MR_OPS_CLUSTER}
    SERVICE_NAME: ${IE_MR_OPS_SERVICE}