name: 'Build, Test, and Destroy OSML Model Runner'

on:
  pull_request:
    branches:
      - dev
      - main

env:
  AWS_REGION: "us-west-2"
  AWS_PAGER: ""

permissions:
  id-token: write
  contents: read

jobs:
  CheckPendingWorkflow:
    runs-on: ubuntu-latest
    steps:
      - name: Check for pending workflows
        uses: ahmadnassri/action-workflow-queue@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN || github.token }}
          delay: 300000
          timeout: 7200000

  DeployModelRunner:
    needs: CheckPendingWorkflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.MODEL_RUNNER_ACCOUNT_ID }}:role/GithubAction-AssumeRoleWithAction
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          role-duration-seconds: 7200
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install CDK and dependencies
        run: |
          cd cdk
          npm install -g aws-cdk
          npm install
          cd ..
      - name: Generate deployment.json
        run: |
          cp cdk/bin/deployment/deployment.json.example cdk/bin/deployment/deployment.json
          sed -i "s/ACCOUNT_PLACEHOLDER/${{ secrets.MODEL_RUNNER_ACCOUNT_ID }}/" cdk/bin/deployment/deployment.json
          if [[ "${{ github.base_ref }}" == "dev" ]]; then
            sed -i 's/"BUILD_FROM_SOURCE_PLACEHOLDER"/true/g' cdk/bin/deployment/deployment.json;
          else
            sed -i 's/"BUILD_FROM_SOURCE_PLACEHOLDER"/false/g' cdk/bin/deployment/deployment.json;
          fi
          cat cdk/bin/deployment/deployment.json
      - name: Build CDK
        run: |
          cd cdk
          npm run build
          cd ..
      - name: Bootstrap CDK
        run: |
          cd cdk
          echo "Bootstrapping CDK environment..."
          cdk bootstrap --force
          cd ..
      - name: Deploy CDK infrastructure
        run: |
          cd cdk
          cdk deploy --all --require-approval never --concurrency 3
          cd ..

  RunIntegrationTests:
    needs: DeployModelRunner
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.MODEL_RUNNER_ACCOUNT_ID }}:role/GithubAction-AssumeRoleWithAction
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          role-duration-seconds: 7200
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/integration/requirements.txt
      - name: Run integration tests
        run: |
          python test/integration/integration_test_runner.py --suite test/integration/test_suites/model_runner_full.json

  DestroyModelRunner:
    if: ${{ always() }}
    needs: [ CheckPendingWorkflow, DeployModelRunner, RunIntegrationTests ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ secrets.MODEL_RUNNER_ACCOUNT_ID }}:role/GithubAction-AssumeRoleWithAction
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          role-duration-seconds: 14400
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install CDK and dependencies
        run: |
          cd cdk
          npm install -g aws-cdk
          npm install
          cd ..
      - name: Generate deployment.json
        run: |
          cp cdk/bin/deployment/deployment.json.example cdk/bin/deployment/deployment.json
          sed -i "s/ACCOUNT_PLACEHOLDER/${{ secrets.MODEL_RUNNER_ACCOUNT_ID }}/" cdk/bin/deployment/deployment.json
          if [[ "${{ github.base_ref }}" == "dev" ]]; then
            sed -i 's/"BUILD_FROM_SOURCE_PLACEHOLDER"/true/g' cdk/bin/deployment/deployment.json;
          else
            sed -i 's/"BUILD_FROM_SOURCE_PLACEHOLDER"/false/g' cdk/bin/deployment/deployment.json;
          fi
          cat cdk/bin/deployment/deployment.json
      - name: Build CDK
        run: |
          cd cdk
          npm run build
          cd ..
      - name: Destroy CDK infrastructure
        run: |
          cd cdk
          cdk destroy --all --force
          cd ..
