name: Build Documentation

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write

env:
  PYTHON_VERSION: '3.13'

jobs:
  build-documentation:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: ./.github/actions/setup-python
        with:
          python_version: ${{ env.PYTHON_VERSION }}
          cache_dependency_paths: 'pyproject.toml,tox.ini'
      - name: Build Docs
        run: |
          pip install sphinx sphinx-autoapi sphinx_rtd_theme tox tox-gh-actions
          tox -e docs
      - uses: peaceiris/actions-gh-pages@v4
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .tox/docs/tmp/html/
          force_orphan: true
