name: PR Checks

on:
  pull_request:
    branches:
      - dev
      - main

permissions:
  contents: read

jobs:
  tox:
    uses: ./.github/workflows/tox.yml
    secrets: inherit
  docker:
    uses: ./.github/workflows/docker.yml
    secrets: inherit
    with:
      push: false
