name: Release

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test:
    uses: ./.github/workflows/tox.yml
    secrets: inherit
  docs:
    needs: [test]
    uses: ./.github/workflows/docs.yml
    secrets: inherit
