name: Integration Tests

permissions:
  id-token: write
  contents: read

on:
  workflow_call:
    inputs:
      aws_region:
        required: true
        type: string
      account_id:
        required: true
        type: string

env:
  AWS_REGION: ${{ inputs.aws_region }}
  AWS_PAGER: ""

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.aws_region }}
          role-to-assume: arn:aws:iam::${{ inputs.account_id }}:role/GithubAction-AssumeRoleWithAction
          role-session-name: GitHub_to_AWS_via_FederatedOIDC
          role-duration-seconds: 7200
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/integ/requirements.txt pytest
      - name: Run integration tests
        run: pytest test/integ/test_integration.py -s -v
